.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
    border-style: solid;
    border-width: 15px 0 0 0;
    border-color: var(--branco);
}
.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin: 0.8em 0 1em 0;
}
.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos__link {
     color: var(--branco);
     padding: 1em;
     background-color: var(--laranja);
     text-decoration: none;
     font-size: 14px;
     font-weight: 700;
}
.topicos__item {
    margin: 1.5em 0.5em;
}
.topicos__link:hover {
    color: var(--laranja);
    background-color: var(--branco);
}
@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }
    .topicos__link {
        font-size: 24px;
    }
    .topicos__item {
        margin: 2.5em 0.5em;
    }
}
@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }
}